[submodule "DeepDenoiser"]
	path = DeepDenoiser
	url = https://github.com/wayneweiqiang/DeepDenoiser.git
	branch = master
[submodule "PhaseNet"]
	path = PhaseNet
 	url = https://github.com/wayneweiqiang/PhaseNet.git
	branch = master
[submodule "GaMMA"]
	path = GaMMA
	url = https://github.com/wayneweiqiang/GaMMA.git
	branch = master
[submodule "EQNet"]
	path = EQNet
	url = https://github.com/AI4EPS/EQNet.git
[submodule "CCTorch"]
	path = CCTorch
	url = https://github.com/AI4EPS/CCTorch.git
[submodule "ADLoc"]
	path = ADLoc
	url = https://github.com/AI4EPS/ADLoc.git
